/***
 * main page layout
 ***/

main.container {
    max-width: 100%;
}

div#main{
}

div#sidebar {
    float: left;
    min-width: 20%;
    padding: 15px;
}

div#content {
    float: right;
    min-width: 70%;
    padding: 15px;
}



/***
 * list in sidebar
 ***/

.puraUserList {
    list-style: none;
    padding: 0;
}