    /***
 * main page layout
 ***/

main.container {
    max-width: 100%;
}

div#main{
}

div#sidebar {
    float: left;
    min-width: 20%;
    padding: 15px;
}

div#content {
    float: right;
    min-width: 70%;
    padding: 15px;
}



/***
 * list in sidebar
 ***/

.puraUserList {
    list-style: none;
    padding: 0;
}

/** maybe adapt to swissbib colors
.btn-primary {
        color: #ffffff;
        background-color: #0D785B;
        border-color: #0D785B;
    }

.btn-primary:hover {
    background-color: #50BF9E;
    border-color: #50BF9E;
}
**/